<template>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Escritorio</div>

                <div class="panel-body">
		<table class="table table-responsive">
			<thead>
				<tr>
					<th>Titulo</th>
					<th>Estatus</th>
					<th>Autor(es)</th>
					<th>Tutor(es)</th>
					<th>Proyecto</th>
					<th>TG O TEG</th>
					<th>Fase</th>
					<th>Jurado</th>
					<th>Accion</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="proyect in proyects">
					<td>
						<a :href="'/app/proyecto/'+proyect.id">{{proyect.title}}</a>
					</td>
					<td>
						
						<span class="label label-success" v-if="proyect.aprobe == 1">Aprobado</span>
						<span class="label label-primary" v-if="proyect.aprobe == 0">En espera</span>
						<span class="label label-default" v-if="proyect.aprobe == 2">Reprobado</span>
						<span class="label label-warning" v-if="proyect.aprobe == 3">Aprobar con observaciones</span>
					</td>
					<td>
						<span class="label label-primary">{{proyect.user.name}} <br>  CI. {{proyect.user.cedula}}</span>
						<span v-for="miembro in proyect.member" class="label label-primary">
							{{miembro.user.name}}
						</span>
					</td>
					<td>
						<span class="label label-warning" v-if="proyect.tutor != null">
							{{proyect.tutor.user.name}} <br>  CI. {{proyect.tutor.user.cedula}}
						</span>
					</td>
					<td>
						<a :href="proyect.file">Ver</a>
					</td>
					<td>
						<span v-if="proyect.aprobe == 1 || proyect.aprobe == 3">
							<span v-if="proyect.file2 == null">
								<span class="label label-default">Pediente por subir TG o TEG</span>
							</span>
							<span v-else>
								<a :href="proyect.file2">Ver</a>
							</span>

						</span>
						<span v-else>
							<span class="badge">Pendiente</span>
						</span>
					</td>
					<td>
						<span class="label label-danger">
							<span v-if="proyect.fase > 2">
								{{proyect.fase - 1}}
							</span>
							<span v-else>
								{{proyect.fase}}
							</span>
						</span>
					</td>
					<td>
						<span v-for="jurado in proyect.jury" class="badge badge-default">
							{{jurado.name}}
						</span>
					</td>
					<td>
						<button v-if="proyect.aprobe == 0" v-on:click="aprobeProyect(proyect.id,1)" class="btn btn-success">
							<i class="fa fa-check"></i> Aprobar
						</button>
						<button class="btn btn-primary" v-if="proyect.aprobe == 0" @click="aprobeProyect(proyect.id,3)">
							<i class="fa fa-check"></i> Aprobar con observaciones
						</button>
						<button v-if="proyect.aprobe == 0" v-on:click="aprobeProyect(proyect.id,2)" class="btn btn-danger">
							<i class="fa fa-check"></i> Reprobar
						</button>
						<button data-toggle="modal" data-target="#exampleModal" v-if="proyect.aprobe == 1" v-on:click="id = proyect.id" class="btn btn-warning">
							Agregar jurado
						</button>					
					</td>
				</tr>
			</tbody>
		</table>

						<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Agregar Jurado</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form v-on:submit.prevent="addJury()" action="">
					<div class="form-group">
			        	<label for="" class="control-label">Jurado</label>
						<input type="text" v-model="jury.name" class="form-control">						
					</div>
		        	<div class="form-group">
		        		<input type="submit" class="btn btn-success" value="Guardar">
		        	</div>
		        </form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
		  </div>
		</div>
</div>
            </div>
        </div>
    </div>
</div>	
</template>

<script>
	export default{
		data(){
			return {
				proyects:{},
				jury:{
					name:''
				},
				success:false,
				id:0
			}
		},
		methods:{
			getProyects(){
				axios.get('/app/getProyects').then(response => {
					this.proyects = response.data
				});
			},
			aprobeProyect(id,aproba){
				axios.put('/app/aprobe/'+id,{aprobe:aproba}).then(response => {
					this.success = true;
					this.getProyects()
				})
			},
			addJury(){
				axios.post('/app/jury/'+this.id,this.jury).then(response => {
					this.success = true;
					$('#exampleModal').modal('toggle')
					this.getProyects();
				});
			}
		},
		mounted(){
			this.getProyects();
		}
	}
</script>