<template>
	<div>
		<div class="panel panel-warning">
			<div class="panel-heading">Jurados</div>
			<div class="panel-body">
				<ul class="list-group">
					<li v-for="jury in juries" class="list-group-item">
						{{jury.name}}
					</li>
				</ul>
			</div>			
		</div>
	</div>
</template>
<script>
	export default{
		data(){
			return{
				juries:[]
			}
		},
		props:['proyecto'],
		methods:{
			getJuries(){
				axios.get('getJuries/'+this.proyecto).then(response => {
					this.juries = response.data
				});
			}
		},
		mounted(){
			this.getJuries();
		}
	}
</script>