<template>
	<div class="panel panel-primary">
		<div class="panel-heading">
			Integrantes del proyecto <button data-toggle="modal" data-target="#exampleModal" class="btn btn-success">Agregar</button>
		</div>
		<div class="panel-body">
			<ul class="list-group">
			  <li class="list-group-item" v-for="member in members">{{member.user.name}}</li>
			</ul>			
		</div>



				<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Agregar Miembro</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form v-on:submit.prevent="add()" action="">
					<div class="form-group">
			        	<label for="" class="control-label">Usuario</label>
			        	<select name="" v-model="miembro.user_id" class="form-control" id="">
			        		<option value="">Seleccionar</option>
			        		<option v-for="user in users" :value="user.id">{{user.name}}</option>
			        	</select>						
					</div>
		        	<div class="form-group">
		        		<input type="submit" class="btn btn-success" value="Guardar">
		        	</div>
		        </form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</template>

<script>
	export default{
		data(){
			return{
				members:[],
				miembro:{
					user_id:0,
					proyect_id:this.proyecto
				},
				users:[]
			}
		},
		props:['proyecto'],
		methods:{
			getMembers(){
				axios.get('/app/getMembers/'+this.proyecto).then(response => {
					this.members = response.data;
				});
			},
			getUsers(){
				axios.get('/app/getUsers').then(response => {
					this.users = response.data
				})
			},
			add(){
				axios.post('/app/member',this.miembro).then(response => {
					this.getMembers();
					$('#exampleModal').modal('toggle')
				})
			}
		},
		mounted(){
			this.getMembers();
			this.getUsers();
		}
	}
</script>