<template>
	<div class="panel panel-danger">
	    <div class="panel-heading">{{proyect.title}}  
			<div v-if="proyect.aprobe == 1" class="badge badge-success">
				Aprobado
			</div>
			<div v-if="proyect.aprobe == 0" class="badge badge-default">
				En espera
			</div>
			<div v-if="proyect.aprobe == 3" class="badge badge-info">
				Aprobado con observaciones
			</div>						
			<div v-if="proyect.aprobe == 2" class="badge badge-warning">
				Reprobado
			</div>	
	 	</div>

	    <div class="panel-body">
	         {{proyect.description}}
	    </div>
	    <div class="panel-footer">
	    	<a :href="'/'+proyect.file">Descargar</a>
	    	<button v-on:click="remove(proyect.id)" v-if="proyect.aprobe != 1" class="btn btn-danger">
	    		Eliminar
	    	</button>
	    </div>
	</div>
</template>
<script>
	export default{
		data(){
			return {
				proyect:{}
			}
		},
		props:['user'],
		methods:{
			getProyect(){
				axios.get('/app/getProyect/'+this.user).then(response => {
					this.proyect = response.data;
				});
			},
			remove(id){
				axios.delete('/app/proyecto/'+id).then(response => {
					this.getProyect();
				});
			}
		},
		mounted(){
			this.getProyect();
		}
	}
</script>