<template>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">Listado de Proyectos 

                    <div class="right">
                        <button @click="changeList('all')" class="btn btn-success">Todos los proyectos</button>
                        <button  @click="changeList('maes')" class="btn btn-warning">Maestrias</button>
                        <button @click="changeList('esp')" class="btn btn-danger">Especializaciones</button>
                    </div>
                </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Titulo</th>
                                <th>Autor(es)</th>
                                <th>Tutor(es)</th>
                                <th>Especializacion</th>
                                <th>Proyecto</th>
                                <th>TG o TEG</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="proyect in proyects">
                                <td>
                                    <a :href="'/app/proyecto/'+proyect.id">{{proyect.title}}</a>
                                </td>
                                <td>
                                    <span class="label label-primary">{{proyect.user.name}} <br>  CI. {{proyect.user.cedula}}</span>
                                    <span v-for="miembro in proyect.member" class="label label-primary">
                                        {{miembro.user.name}}
                                    </span>
                                </td>
                                <td>
                                    <span class="label label-warning" v-if="proyect.tutor != null">
                                        {{proyect.tutor.user.name}} <br>  CI. {{proyect.tutor.user.cedula}}
                                    </span>
                                </td>
                                <td>
                                    <span class="label label-default">
                                        {{proyect.user.esp}}
                                    </span>
                                </td>
                                <td>
                                    <a :href="proyect.file">Ver</a>
                                </td>
                                <td>
                                    <span v-if="proyect.aprobe == 1 || proyect.aprobe == 3">
                                        <span v-if="proyect.file2 == null">
                                            <span class="label label-default">Pediente por subir TG o TEG</span>
                                        </span>
                                        <span v-else>
                                            <a :href="proyect.file2">Ver</a>
                                        </span>

                                    </span>
                                    <span v-else>
                                        <span class="badge">Pendiente</span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>

                                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Agregar Jurado</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form v-on:submit.prevent="addJury()" action="">
                                <div class="form-group">
                                    <label for="" class="control-label">Jurado</label>
                                    <input type="text" v-model="jury.name" class="form-control">						
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-success" value="Guardar">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                        </div>
                    </div>
                    </div>
	            </div>
        </div>
    </div>
</div>	
</template>

<script>
	export default{
		data(){
			return {
				proyects:{},
				jury:{
					name:''
				},
				success:false,
                id:0,
                action:'all'
			}
		},
		methods:{
			getProyects(){
				axios.get('/app/getProyectsAll/'+this.action).then(response => {
					this.proyects = response.data
				});
            },
            changeList(act){
                this.action = act;
                this.getProyects();
            },
			aprobeProyect(id,aproba){
				axios.put('/app/proyecto/'+id,{aprobe:aproba}).then(response => {
					this.success = true;
					this.getProyects()
				})
			},
			addJury(){
				axios.post('/app/jury/'+this.id,this.jury).then(response => {
					this.success = true;
					$('#exampleModal').modal('toggle')
					this.getProyects();
				});
			}
		},
		mounted(){
			this.getProyects();
		}
	}
</script>