<template>
	<div class="panel panel-default">
		<div class="panel-heading">
			Tutor del proyecto <button data-toggle="modal" data-target="#exampleModal2" class="btn btn-success">Agregar</button>
		</div>
		<div class="panel-body">
			<ul class="list-group">
			  <li class="list-group-item" v-for="tutor in tutors">{{tutor.user.name}}</li>
			</ul>			
		</div>



				<!-- Modal -->
		<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Agregar Tutor</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form v-on:submit.prevent="add()" action="">
					<div class="form-group">
			        	<label for="" class="control-label">Usuario</label>
			        	<select name="" v-model="prof.user_id" class="form-control" id="">
			        		<option value="">Seleccionar</option>
			        		<option v-for="user in users" :value="user.id">{{user.name}}</option>
			        	</select>						
					</div>
		        	<div class="form-group">
		        		<input type="submit" class="btn btn-success" value="Guardar">
		        	</div>
		        </form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</template>

<script>
	export default{
		data(){
			return{
				tutors:[],
				prof:{
					user_id:"",
					proyect_id:this.proyecto
				},
				users:[]
			}
		},
		props:['proyecto'],
		methods:{
			getTutors(){
				axios.get('/app/getTutors/'+this.proyecto).then(response => {
					this.tutors = response.data;
				});
			},
			getUsers(){
				axios.get('/app/getUsersProfessor').then(response => {
					this.users = response.data
				})
			},
			add(){
				axios.post('/app/tutor',this.prof).then(response => {
					this.getTutors();
					$('#exampleModal2').modal('toggle')
				})
			}
		},
		mounted(){
			this.getTutors();
			this.getUsers();
		}
	}
</script>